:root {
  --color-1: #FF9900;
  --rgb-color-1: 255 153 0;
  --color-2: #FFEBCC;
}



a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.disable {
    pointer-events: none;
    cursor: default;
}

p, label, span, a, form, select, div, blockquote, cite, figure, figcaption, ul, ol, dl {
    line-height: normal;
    margin-bottom: 0px;
}


/* FORMS CUSTOMIZATION */
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active, 
textarea, textarea:hover, textarea:focus, textarea:active,
select, select:hover, select:focus, select:active {outline: none;}

/* placeholder stylization */
input:-moz-placeholder, textarea:-moz-placeholder {color: #CBCBCB; font-weight: 400;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #CBCBCB; font-weight: 400;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #CBCBCB; font-weight: 400;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #CBCBCB; font-weight: 400;}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {color: #CBCBCB; font-weight: 400;}
input::placeholder, textarea::placeholder {color: #CBCBCB; font-weight: 400;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input, textarea, select {
    border: none;
    background-color: #f5f5f5;
    border-radius: 0;
    padding: .75em 1.5em;
    width: 100%;
    line-height: normal;
    box-shadow: unset;
}




.white {color:#fff;}
.black {color: #000;}
.color-1 {color: var(--color-1);}
.color-2 {color: var(--color-2);}


.itlc {font-style: italic;}
.norm {font-style: normal;}

.lh_n {line-height: normal;}
.bb_1 {border-bottom: 1px solid;}


@media (min-width: 1660px){
    .container {
        min-width: 1600px;
    }
}

.mb-8 {margin-bottom: 8em;}