$primary: #FF9900;
$main-font: 'Rubik';
$title-font: 'Montserrat';
$orange: #FFCC80;
$cream: #FFEBCC;

a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
p, label, span, a, form, select, div, blockquote, cite, figure, figcaption, ul, ol, dl {
    line-height: normal;
    margin-bottom: 0px;
}


/* mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORMS CUSTOMIZATION */
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active, 
textarea, textarea:hover, textarea:focus, textarea:active,
select, select:hover, select:focus, select:active {outline: none;}

/* placeholder stylization */
input:-moz-placeholder, textarea:-moz-placeholder {color: #CBCBCB; font-weight: 400;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #CBCBCB; font-weight: 400;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #CBCBCB; font-weight: 400;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #CBCBCB; font-weight: 400;}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {color: #CBCBCB; font-weight: 400;}
input::placeholder, textarea::placeholder {color: #CBCBCB; font-weight: 400;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input, textarea, select {
    border: none;
    background-color: #f5f5f5;
    border-radius: 0;
    padding: .75em 1.5em;
    width: 100%;
    line-height: normal;
    box-shadow: unset;
}


/* BUTTONS */
button {
    background: none;
    border: none;
    padding: unset;
    display: block;
}
.btn{
    @include flex-center;
    border-radius: 2.5em;
    padding: .6em 2em;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    line-height: normal;
    color: #fff;
    transition: .5s;
    &-1{
        background-color: $primary;
        border: 1px solid $primary;
        box-shadow: 0px 0px 10px $orange;
    }
}
.btn-icon{
    @include flex-center;
    position: relative;
    &-dark {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        background-color: #2F2F2F;
        svg {
            width: 2em;
            height: 2em;
            fill: none;
            path {
                stroke: #fff;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
                transition: 300ms;
            }
        }
        &:hover, &:focus {
            svg {
                path {stroke: $primary;}
            }
        }
    }
    .count {
        @include flex-center;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        font-size: .9em;
        font-weight: 500;
        border-radius: 50%;
        color: #000;
        background-color: #fff;
    }
}


/* TEXT STYLIZATION */
h1, h2, h3, h5 {font-family: $title-font;}
h1 {
    font-size: 3em;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1em;
}
h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 1em;
}
h3 {
    text-align: left;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 2em;
}
h4 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0px;
}
h5 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
}
.fs {
    &-09 {font-size: .8em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-18 {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
}
.fw {
    // &-1 {font-weight: 100;}
    // &-2 {font-weight: 200;}
    // &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    // &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    // &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}
.white {color:#fff;}
.black {color: #000;}
.primary {color: $primary;}
.bb-dash {border-bottom: 1px dashed $primary;}


body {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    position: relative;
    background: url(../img/bg/blobs.svg) no-repeat right top;
    background-size: 70% auto;
}
@media (max-width: 1659px){
    body {font-size: 15px;}
}
/* @media (max-width: 1199px){
    body {font-size: 15px;}
}
@media (max-width: 991px){
    body {font-size: 14px;}
}
@media (max-width: 575px){
    body {font-size: 13px;}
} */

@media (min-width: 1660px){
    .container {
        min-width: 1600px;
    }
}

.mb-8 {margin-bottom: 8em;}

/* SLIDERS */
.swiper-4, .swiper-3 {
    overflow: hidden;
    .swiper-slide {
        padding: 4px;
    }
}
.swiper-button-next, .swiper-button-prev {
    width: 2em;
    height: 3em;
    opacity: .5;
    &::after {
        content: unset;
    }
    &:hover, &:focus, &:active {
        opacity: 1;
    }
}
.swiper-button-prev {
    left: -2em;
}
.swiper-button-next {
    right: -2em;
}
.swiper-pagination {
    bottom: 0 !important;
    .swiper-pagination-bullet {
        width: 1em;
        height: 1em;
        background-color: #BDBDBD;
        opacity: 1;
        &:not(:first-child){margin-left: 1em;}
        &-active {
            background-color: $primary;
        }
    }
}


header {
    transition: 200ms;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            max-width: 14em;
            img {max-width: 100%;}
        }
        nav {
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    flex-shrink: 1;
                    display: block;
                    a {
                        font-weight: 500;
                        font-size: 1.5em;
                        color: #000;
                        padding: 0 .5em;
                    }
                }
            }
        }
        .toggle-cart {
            position: relative;
            .cart-preview {
                position: absolute;
                top: 100%;
                right: 0px;
                display: none;
                width: 420px;
                z-index: 1500;
                background: #FFF;
                border-radius: 1.8em;
            }
        }
    }
    &.h-sticky {
        background-color: #fff;
        position: sticky;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 1000;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

/* sec 1 */
#main-slider {
    padding: 1em 0 4em;
    .img-slider {
        width: 100%;
        height: 765px;
        object-fit: scale-down;
    }
    .carousel-indicators {
        bottom: 0px;
        margin-bottom: 0px;
        [data-bs-target] {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: #BDBDBD;
            opacity: 1;
        }
        [data-bs-target]:not(:first-child){margin-left: 1em;}
        [data-bs-target].active {
            background-color: $primary;
        }
    }
    .carousel-control-next, .carousel-control-prev {
        width: 2em;
        height: 3em;
        @include flex-center;
        top: 50%;
        transform: translateY(-50%);
    }
    .carousel-control-prev {left: -2em;}
    .carousel-control-next {right: -2em;}
}

/* categorie */
.categorie {
    border-radius: 1.8em;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
    .text {
        background-color: #fff;
        height: 140px;
        position: relative;
        z-index: -1;
        @include flex-center;
    }
    a.stretched-link {
        z-index: 2;
        display: block;
        height: 0px;
        width: 0px;
        opacity: 0;
        &:hover ~ .text{
            h4 {color: $primary;}
        }
    }
}

/* product */
.product-preview {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1.8em;
    padding: 1em;
    img {
        width: 100%;
        height: 375px;
        object-fit: contain;
        margin-bottom: 1em;
    }
    input.compare {
        appearance:none;
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        width: 2.5em;
        height: 2.5em;
        padding: 0px;
        border-radius: 50%;
        background-color: $orange;
        background-image: url(../img/icons/bar-chart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.5em 1.5em;
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 10;
        cursor: pointer;
    }
    input.compare:checked {background-color: $primary;}
}


/* sec 4 */
#sec-4 {
    background-image: url(../img/bg/basil-1.png), url(../img/bg/basil-2.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}
.round-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px dashed $primary;
    padding: .5em;
}


/* sec 5 */
#sec-5 {
    background-color: rgba($primary, 0.2);
    padding: 4em 0 5em;
}
.offer {
    .visual {
        position: relative;
        border-radius: 1.8em;
        overflow: hidden;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        img {
            width: 100%;
            height: 650px;
            object-fit: cover;
            position: relative;
            z-index: 1;
        }
        .text {
            position: absolute;
            z-index: 2;
            left: 0;
            width: 100%;
            min-height: 53%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            top: 0;
            justify-content: flex-start;
            padding: 3em 2em 5em;
            background-image: linear-gradient(to bottom, #FFF 20%, rgba(255, 255, 255, 0.8) 65%, transparent 100%);
            background-size: 100% 100%;
            div {
                font-size: 1.5em;
                font-weight: 500;
                color: #000;
                &.title {
                    color: $primary;
                    font-family: $title-font;
                    font-size: 2.5em;
                    font-weight: 700;
                    margin-bottom: .5em;
                    span {
                        font-weight: 900;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
    h3 {
        font-size: 2.5em;
        text-align: center;
        margin-top: .5em;
        margin-bottom: 0;
    }
}
/* четные элементы */
.swiper-slide:nth-child(even){
    .offer {
        .visual {
            .text {
                top: unset;
                bottom: 0;
                justify-content: flex-end;
                padding: 3em 3em 5em;
                background: url(../img/bg/ellipses.png) no-repeat left bottom;
                background-size: auto 100%;
                div {
                    color: #fff;
                    &.title {color: #fff;}
                }
            }
        }
    }
}


/* sec 6 */
#sec-6 {
    background-image: url(../img/bg/left-seeds.png), url(../img/bg/right-seeds.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}
#sec-6 .swiper-3 {
    padding-bottom: 3em;
}
.review {
    background-color: $cream;
    border-radius: 1.8em;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding: 2em;
    .rating {
        svg {
            height: 1.375em;
            width: 1.375em;
            fill: none;
            path {
                fill: none;
                stroke: $orange;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;  
            }
            &.grade {
                path {
                    stroke: $primary;
                    fill: $primary;
                }
            }
        }
    }
}

/* sec 7 */
#sec-7 {
    .container {
        .row {
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
    }
}


footer {
    background-color: #333333;
    color: #fff;
    padding: 3em 0;
    nav {
        ul {
            list-style: none;
            padding-left: 0px;
            li {
                &:not(:last-child){margin-bottom: 1em;}
                a {
                    &:hover, &:focus {color: $orange;}
                    &:active {color: $primary;}
                }
            }
        }
    }
    .social {
        display: block;
        border: 1px solid #FFF;
        border-radius: .625em;
        width: 2.5em;
        height: 2.5em;
        transition: 300ms;
        @include flex-center;
        &:not(:first-child){margin-left: 1.5em;}
        &:hover, &:focus {
            border: 1px solid $primary;
            background-color: $primary;
        }
        &:active {
            border: 1px solid $orange;
            background-color: $orange;
        }
    }
    
}